form{
  padding-bottom: 1rem;
  p {
    text-align: center;
    margin: auto;
    width: 50%;
    max-width: 400px;

    .mat-form-field{
      width: 100%;
    }
  }

  .cont-btns{
    margin: auto;
    width: 50%;
    max-width: 400px;
  }
}
